<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Classifier</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
 
<body>
    <div class="container">
        <div class="header">
            <h3 class="text-muted">Classifier</h3>
            <hr style="width: 100%; color: black; height: 1px; background-color:black;">
        </div>
 
        <div class="row marketing">
            <div class="col-md-6">
                {% for image in images %}
                    <img src="{{ image.src }}" style="width: {{ image.width }}px; height: {{ image.height }}px"/>
                    <br/>
                {% endfor %}
            </div>
            <div class="col-md-6">
                {% for image in images2 %}
                    <!--
                    <a class="image" href="{{ image.src }}" style="width: {{ image.width }}px; height: {{ image.height }}px">
                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-src="{{ image.src }}?w={{ image.width }}&amp;h={{ image.height }}" width="{{ image.width }}" height="{{ image.height }}" />
                    </a>-->
                    <img src="{{ image.src }}" style="width: {{ image.width }}px; height: {{ image.height }}px"/>
                    <br/>
                {% endfor %}
            </div>
        </div>
        <div class="row marketing">
            <br/>
            <div class="col-md-6">
                <form method=post enctype=multipart/form-data>
                  <input type=file name=file>
                  <br/>
                  <input type = "submit"/>
                </form>
            </div>
            <div class="col-md-6">
                <form enctype=multipart/form-data action="/forward" method="post">
                    <button name="forwardBtn" type="submit">Classify</button>
                    <p>The classification label is: {{classifylabel}}</p>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
