<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Classifier</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <h3 class="text-muted">Classifier</h3>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-12">
                {% for image in images %}
                    <img src="{{ image.src }}" />
                    <br/>
                {% endfor %}
            </div>
        </div>


        <div class="row marketing">
            <div class="col-lg-12">
                {% for image in images %}
                    <!--
                    <a class="image" href="{{ image.src }}" style="width: {{ image.width }}px; height: {{ image.height }}px">
                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                        data-src="{{ image.src }}?w={{ image.width }}&amp;h={{ image.height }}" width="{{ image.width }}" height="{{ image.height }}" />
                    </a>-->
                    <img src="{{ image.src }}" />
                    <br/>
                {% endfor %}
            </div>
        </div>
 
        <footer class="footer">
            <p>Spring, 2017 | NYU</p>
        </footer>
 
    </div>
</body>
 
</html>
